body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@keyframes colorchange {
    from {background: #778da9;}
    to {background: #415a77;}
}
.pic {
    width: 150px;
    border-radius: 100px;
    border: 3px solid #1b263b;
}
.card {
    width: 400px;
    /*margin-left: auto;
    margin-right: auto;*/
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #0d1b2a;
    background: #778da9;
    border-bottom: 7px solid #1b263b;
    text-shadow: 1px 1px #e0e1dd;
    box-shadow: 8px 8px 3px #415a77;
    animation-name: colorchange;
    animation-duration: 2s;
}
.card:hover {
    text-shadow: 3px 3px #e0e1dd;
    box-shadow: 8px 8px 3px white;
}